Source: kimmo-gtk-theme
Maintainer: Joshua Peisach <itzswirlz2020@outlook.com>
Section: misc
Priority: important
Build-Depends: debhelper (>= 12), debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/Ubuntu-Cinnamon-Remix/kimmo-gtk-theme
Vcs-Git: https://github.com/Ubuntu-Cinnamon-Remix/kimmo-gtk-theme.git
Homepage: https://github.com/Ubuntu-Cinnamon-Remix

Package: kimmo-gtk-theme
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Provides: kimmo-gtk-theme-dark, kimmo-gtk-theme-light
Description: Mix of Arc/Numix colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo GTK Theme is a mixture of the Arc/Numix theme,
 colored orange, looking great on all desktops. The theme has an
 associated icon theme as well: kimmo-icon-theme.
 .
 This package provides you with the Kimmo Light and Dark themes.

Package: kimmo-gtk-theme-dark
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Description: Mix of Arc/Numix Dark colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo GTK Theme is a mixture of the Arc/Numix Dark theme,
 colored orange, looking great on all desktops. This edition contains
 the dark version of this theme. The theme has an associated icon theme
 as well: kimmo-icon-theme-dark.

Package: kimmo-gtk-theme-light
Architecture: all
Depends: gnome-themes-extra, gtk2-engines-murrine, gtk2-engines-pixbuf, ${misc:Depends}
Description: Mix of Arc/Numix Light colored Orange to fit your GNOME/Cinnamon desktop
 The Kimmo GTK Theme is a mixture of the Arc/Numix Light theme,
 colored orange, looking great on all desktops. This edition contains
 the dark version of this theme. The theme has an associated icon theme
 as well: kimmo-icon-theme-light.
